@tailwind base;
@tailwind components;
@tailwind utilities;
body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.ant-switch-checked {
    background-color: #50911e !important;
}

.ant-switch {
    background-color: #b9b9b9;
}

.ant-btn-primary {
    background-color: #326c05;
    border: 1px solid #326c05
}

.ant-btn-primary:hover {
    background-color: #429502;
    border: 1px solid #429502
}

.photo {
    width: 150px !important;
    height: 100px !important;
    object-fit: cover;
    object-position: center center;
}

.center {
    display: flex;
    height: 95vh;
    justify-content: center;
}

.pic {
    width: 4rem;
    height: 4rem;
    overflow: auto;
    border-radius: 50%;
}

.ck-editor__editable {
    min-height: 200px !important;
}

.hidden-bar-scroll::-webkit-scrollbar {
    display: none
}

.ant-layout-sider-children,
.ant-menu-dark {
    background-color: #f88800 !important;
}

.ant-layout-sider-trigger {
    background-color: #e67e00 !important;
}

.ant-menu-item-selected {
    background-color: #ffe400 !important;
}

.ant-menu-item span {
    color: white !important;
}

.ant-menu-item-selected span {
    color: #272727 !important;
}

.bg-login {
    background: linear-gradient(162deg, rgba(248, 136, 0, 1) 47%, rgba(255, 228, 0, 1) 100%);
}