@tailwind base;
@tailwind components;
@tailwind utilities;
body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.ant-switch-checked {
    background-color: #778ebf !important;
}

.ant-switch {
    background-color: #b9b9b9;
}

.ant-btn-primary {
    background-color: rgba(43, 64, 226, 0.811);
}

.photo {
    width: 150px !important;
    height: 100px !important;
    object-fit: cover;
    object-position: center center;
}

.center {
    display: flex;
    height: 95vh;
    justify-content: center;
}

.pic {
    width: 4rem;
    height: 4rem;
    overflow: auto;
    border-radius: 50%;
}

.contact {
    background-color: rgba(235, 235, 235, 0.709);
    padding: 10px;
    margin-bottom: 10px;
}

.contact:hover {
    background-color: rgba(217, 217, 217, 0.718);
}

.contact .name {
    font-weight: 500;
    margin-bottom: 0.125rem;
}

.contacts {
    width: 300px;
    padding: 1rem 2rem 1rem 1rem;
    box-sizing: border-box;
    cursor: pointer;
    background: white;
    box-shadow: 0 0 8rem 0 rgba(0, 0, 0, 0.1), 2rem 2rem 4rem -3rem rgba(0, 0, 0, 0.5);
}

.list_user {
    height: 500px;
    overflow-y: scroll;
}

.list_user::-webkit-scrollbar {
    display: none;
}

.contacts h4 {
    margin: 0.5rem 0 1.5rem 5rem;
}

.contacts .fa-bars {
    position: absolute;
    left: 2.25rem;
    color: #999;
    transition: color 200ms;
}

.contacts .fa-bars:hover {
    color: #666;
}

.contacts .contact:last-child {
    margin: 0;
}

.chat {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 600px;
    z-index: 2;
    box-sizing: border-box;
    background: rgb(82, 113, 250);
    box-shadow: 0 0 8rem 0 rgba(0, 0, 0, 0.1), 0rem 2rem 4rem -3rem rgba(0, 0, 0, 0.5);
}

.chat .contact.bar {
    flex-basis: 3.5rem;
    flex-shrink: 0;
    box-sizing: border-box;
}

.chat .messages {
    height: 85vh;
    padding: 1rem;
    background: #f7f7f7;
    flex-shrink: 2;
    overflow-y: auto;
    box-shadow: inset 0 2rem 2rem -2rem rgba(0, 0, 0, 0.05), inset 0 -2rem 2rem -2rem rgba(0, 0, 0, 0.05);
}

.chat .messages::-webkit-scrollbar {
    display: none;
}

.chat .messages .time {
    font-size: 0.8rem;
    background: #eee;
    padding: 0.25rem 1rem;
    border-radius: 2rem;
    color: #999;
    width: fit-content;
    margin: 0 auto;
}

.chat .messages .message {
    box-sizing: border-box;
    padding: 0.5rem 1rem;
    margin: 1rem;
    background: #fff;
    border-radius: 1.125rem 1.125rem 1.125rem 0;
    min-height: 2.25rem;
    width: fit-content;
    max-width: 66%;
    box-shadow: 0 0 2rem rgba(0, 0, 0, 0.075), 0rem 1rem 1rem -1rem rgba(0, 0, 0, 0.1);
}

.chat .messages .message.parker {
    margin: 1rem 1rem 1rem auto;
    border-radius: 1.125rem 1.125rem 0 1.125rem;
    background: #333;
    color: white;
}

.chat .messages .message .typing {
    display: inline-block;
    width: 0.8rem;
    height: 0.8rem;
    margin-right: 0rem;
    box-sizing: border-box;
    background: #ccc;
    border-radius: 50%;
}

.chat .messages .message .typing.typing-1 {
    animation: typing 3s infinite;
}

.chat .messages .message .typing.typing-2 {
    animation: typing 3s 250ms infinite;
}

.chat .messages .message .typing.typing-3 {
    animation: typing 3s 500ms infinite;
}

.chat .input {
    box-sizing: border-box;
    flex-basis: 4rem;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    padding: 0 0.5rem 0 1.5rem;
}

.chat .input i {
    font-size: 1.5rem;
    margin-right: 1rem;
    color: #666;
    cursor: pointer;
    transition: color 200ms;
}

.chat .input i:hover {
    color: #333;
}

.chat .input input {
    border: none;
    background-image: none;
    background-color: white;
    padding: 0.5rem 1rem;
    margin-right: 1rem;
    border-radius: 1.125rem;
    flex-grow: 2;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1), 0rem 1rem 1rem -1rem rgba(0, 0, 0, 0.2);
    font-family: Red hat Display, sans-serif;
    font-weight: 400;
    letter-spacing: 0.025em;
}

.chat .input input:placeholder {
    color: #999;
}

.header_bar_message {
    height: 40px;
}

.name_user_message {
    margin-top: 10px;
    padding-left: 10px;
    color: white;
}

.ck-editor__editable {
    min-height: 200px !important;
}

.hidden-bar-scroll::-webkit-scrollbar {
    display: none
}